<app-layout></app-layout>
<div class="p-5">

  <section>
    <h3>Inventario de Productos</h3>
  </section>

  <section class="pb-4 pt-4">
    <button type="button" class="btn btn-outline-primary">Nuevo Producto</button>
  </section>

  <section>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">U.Medida</th>
        <th scope="col">Stock</th>
        <th scope="col">Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of PRODUCTS">
        <th scope="row">{{p.PRO_ID}}</th>
        <td>{{p.PRO_NAME}}</td>
        <td>{{p.PRO_UNIDAD_MEDIDA}}</td>
        <td>{{p.PRO_STOCK}}</td>
        <td>{{p.PRO_ESTATE.data[0] | states}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
